html{
  box-sizing: border-box;
}
html,
body {
	height: 100%;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  display: inline-block;
  text-decoration: none;
}

body{
  font-size: 15px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #546e7a;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid{
  max-width: 100%;
  padding: 0 30px;
}

.title{
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
  color: $bg;
  text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.page-content{
  background-color: $grey;
}
.footer {
	flex: 0 0 auto;
}
.breadcrumbs{
  &__inner{
    padding: 45px 0 40px;
  }
  &__list{
    li{
      display: inline-block;
      position: relative;
      & + li{
        padding-left: 24px;
        &::before{
          content: "-";
          position: absolute;
          color: $green;
          left: 8px;
        }
      }
      &:last-child{
        a,
        span{
          color: $bg;
        }
      }
    }
    a{
      color: #b0bec5;
    }
  }
}