@import "vars";
@import "global";
@import "fonts";

// start header

.header-top__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-top__text{
  margin-left: auto;
  margin-right: 30px;
  a{
    color: #546e7a;
  }
  span{
    color: $red;
  }
}
.header-top__btn{
  padding: 5px;
  width: 72px;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.header-top__btn-login{
  background-color: $green;
}
.header-top__btn-register{
  background-color: $red;
  margin-left: 7px;
}
.header-menu{
  background-color: $bg;
}
.header-menu__inner{
  display: flex;
  align-items: center;
  height: 60px;
}
.header__menu{
  li{
    display: inline-block;
    & + li{
      margin-left: 40px;
    }
  }

  a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
}
// end header
// start serch
.search{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 532px;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 55px 0 70px;
      &-text{
        margin-bottom: 20px;
      }
    }
  }
}
.search__inner{
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      width: 100%;
      padding-left: 25px;
      padding-right: 50px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
    }
    button{
      position: absolute;
      top: 50%;
      right: 20px;
      border: none;
      transform: translateY(-50%);
      background-color: transparent;
      cursor: pointer;
    }
  }
}
// end serch
// start products
.products{
  padding: 90px 0 105px;
  background-color: $grey;
}
.products__title{
  margin-bottom: 35px;
}
.products__btn{
  text-align: center;
  button{
    border: none;
    padding: 12px 20px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    color: $bg;
    margin-bottom: 60px;
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}
.products__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item{
  max-width: 442px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  &-images{
    display: block;
    min-height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 0 30px;
    border-bottom: 1px solid #e7ecf2;
    background-color: #fff;
  }
  &-title{
    font-weight: 500;
    font-size: 18px;
    color: $bg;
    display: block;
    max-width: 310px;
  }
  &-category{
    font-size: 14px;
    font-weight: 500;
    color: $green;
    max-width: 310px;
  }
  &-price{
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: $bg;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0px 30px;
    background-color: #fff;
  }
  &-author{
    display: flex;
    align-items: center;
  }
  &-author-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
  }
  &-author-name{
    a{
      color: #546e7a;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-stars{
    display: flex;
    align-items: center;
    color: #b0bec5;
    .rate-stars{
      margin-right: 5px;
    }
    span{
      color: $bg;
      font-size: 12px;
    }
  }
}
.products__btn-down{
  text-align: center;
  button{
    border: none;
    padding: 12px 20px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    color: $bg;
    margin-top: 70px;
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      color: #fff;
      background-color: $red;
    }
  }
}
// end products
// start products-slider
.products-slider{
  padding: 115px 0;
  &__title{
    margin-bottom: 50px;
  }
  .slick-dots{
    text-align: center;
    margin-top: 30px;
    li{
      display: inline-block;
      margin: 0px 3px;
      button{
        font-size: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: none;
        background-color: #e8e8e8;
        cursor: pointer;
      }
    }
    li.slick-active{
      button{
        background-color: $green;
      }
    }
  }
}
// end products-slider
// start advantages
.advantages{
  padding: 115px 0;
  background-color: $bg;
  &__title{
    color: #fff;
    margin-bottom: 70px;
  }
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
  &-item{
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    &:hover{
      .advantages__inner-images{
        background-color: $green;
      }
      svg{
        fill: #fff;
      }
      .advantages__inner-title{
        color: $green;
      }
    }
  }
  &-images{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all 0.5s;
  }
  &-lock{
    width: 70px;
    transition: all 0.5s;
  }
  &-present{
    width: 70px;
    transition: all 0.5s;
  }
  &-heart{
    width: 84px;
    transition: all 0.5s;
  }
  &-title{
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
    font-size: 24px;
    transition: all 0.5s;
  }
  &-text{
    color: #b0bec5;
  }
}
// end advantages
// start author
.author{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 761px;
}
.author__inner{
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author_inner-box{
  max-width: 670px;
  width: 100%;
  min-height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  &-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    max-width: 260px;
    font-weight: 400;
  }
  &-btn{
    color: $bg;
    font-size: 18px;
    background-color: #fff;
    padding: 25px 40px;
    margin-left: 40px;
  }
}
// end author
// start tutorial
.tutorial{
  padding: 70px 0 130px;
}
.tutorial__title{
  margin-bottom: 50px;
}
.tutorial__inner{
  display: flex;
  justify-content: space-between;
  &-item{
    max-width: 370px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  &-images{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 270px;
    margin-bottom: 30px;
  }
  &-title{
    font-size: 24px;
    color: $bg;
    font-weight: 700;
  }
}
// end tutorial
// start footer
.footer{
  background-color: $bg;
}
.footer-top{
  padding: 115px 0 90px;
}
.footer-top__inner{
  display: flex;
  justify-content: space-between;
  &-col{
    max-width: 270px;
    width: 100%;
  }
  &-colmin{
    max-width: 220px;
    width: 100%;
  }
  &-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 25px;
    position: relative;
    &::after{
      content: "";
      width: 51px;
      height: 3px;
      position: absolute;
      background-color: $green;
      bottom: 0;
      left: 2px;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
  &-info{
    font-size: 14px;
    font-weight: 600;
    font-family: "Lato-Semibold", sans-serif;
    color: #fff;
    margin: 20px 0;
    padding-left: 30px;
    position: relative;
    &::before{
      content: "\f041";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 18px;
      color: $green;
      font-family: 'icomoon';
    }
    a{
      color: #fff;
    }
  }
  .footer-icon-phone::before{
    content: "\f095";
    font-family: 'icomoon';
  }
  &-menu{
    li{
      margin-bottom: 15px;
      padding-left: 25px;
      position: relative;
      &::before{
        content: '\f105';
        left: 0;
        top: 0;
        font-family: 'icomoon';
        position: absolute;
        color: $green;
        font-size: 18px;
      }
    }
    a{
      color: #b7c3c8;

    }
  }
  &-social{
    margin-bottom: 30px;
    li{
      display: inline-block;
      & + li{
        margin-left: 7px;
      }
    }
    a{
      width: 28px;
      height: 28px;
      background-image: url(../img/footer/css_sprites.png);
    }
  }
  .footer-twitter{
    background-position: -28px -0;
  }
  .footer-youtube{
    background-position: -0 -28px;
  }
  .footer-pinterest{
    background-position: -28px -28px;
  }
  .footer-inledin{
    background-position: -56px -0;
  }
}
.footer-top__box{
  &-title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  &-form{
    max-width: 260px;
    position: relative;
    input{
      width: 100%;
      border: none;
      background-color: #2f3c43;
      color: #fff;
      padding: 12px 55px 12px 15px;
      &::placeholder{
        font-size: 14px;
        color: #697378;
      }
    }
    button{
      width: 40px;
      height: 40px;
      background-color: $green;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      &::before{
        content: "\f124";
        font-family: 'icomoon';
        color: #fff;
        font-size: 18px;
      }
    }
  }
}
.footer-bottom{
  border-top: 1px solid #424d53;
}
.footer-bottom__info{
  text-align: center;
  padding: 25px 0px 30px;
  color: #919699;
}
// end footer

// start product-page
.product-page__inner{
  display: flex;
}
.product-page__aside{
  margin-right: 30px;
}
.aside-item{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0px 25px 30px;
  width: 270px;
  margin-bottom: 30px;
}
.aside__title{
  padding: 25px 0 20px;
  font-size: 20px;
  color: $bg;
  font-weight: 700;
  border-bottom: 1px solid #dedede;
}
.categories__list{
  padding-top: 30px;
  li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    &::before{
      content: '\f105';
      left: 0;
      top: 0;
      font-family: 'icomoon';
      position: absolute;
      color: #8bc34a;
      font-size: 18px;
    }
  }
  a{
    color: $bg;
  }
}

.irs--flat .irs-max, .irs--flat .irs-min{
  display: none;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid $green;
  background-color: #fff;
  top: 19px;
}
.price-range{
  .irs--flat .irs-handle>i:first-child{
    display: none;
  }
  .irs--flat .irs-bar{
    height: 5px;
    background-color: $bg;
  }
  .irs--flat .irs-line {
    top: 25px;
    height: 5px;
    background-color: #f2f5f8;
    border-radius: 4px;
  }
  .irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    top: 40px;
    background-color: transparent;
    color: #78909c;
  }
  .irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
  }
  .irs--flat{
    margin-bottom: 25px;
  }
  button{
    width: 100%;
    height: 46px;
    cursor: pointer;
    color: #fff;
    background-color: $green;
    border: none;
    font-weight: 500;
    position: relative;
    padding: 0 15px;
    &::before{
      content: "\f002";
      font-family: 'icomoon' !important;
      font-size: 15px;
      color: #fff;
      left: 58px;
      position: absolute;
    }
  }  
}

.top-sellers{
  .products__item-images{
    min-height: 120px;
  }
  .products__item + .products__item{
    box-shadow: none;
    border-top: 1px solid #dde3e8;
  }
  .products__item{
    box-shadow: none;
    margin-bottom: 0;
    padding-top: 30px;
  }
  .products__item-content{
    padding: 0;
    border-bottom: none;
  }
  .products__item-info{
    padding: 0;
  }
  .products__item-title{
    font-size: 16px;
  }
  .products__item-price{
    font-size: 16px;
    align-items: flex-end;
    line-height: 16px;
    margin-top: -20px;
  }
  .products__item-stars{
    .rate{
      display: none;
    }
  }
  button{
    width: 100%;
    height: 46px;
    cursor: pointer;
    color: #fff;
    background-color: $green;
    border: none;
    font-weight: 500;
    position: relative;
    padding: 0 15px;
    margin-top: 20px;
  }
}
.products-page__content{
  width: 100%;
}
.products-page__filter{
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 20px 30px 20px 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 30px;
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #455a64;
  }
  button.active{
    color: $green;
  }
  .products-page__filter-sort{
    display: flex;
    align-items: center;
  }
}

.products-page__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-page__content{
  .products__item{
    max-width: 270px;
    transition: all 0.5s;
  }
  .products__item-images{
    min-height: 180px;
  }
  .products__item-content{
    padding: 0 15px;
  }
  .products__item-info{
    padding: 0 15px;
  }
  .products__item-title{
    font-size: 16px;
  }
  .products__item-price{
    line-height: 20px;
    font-size: 20px;
    margin-top: -20px;
  }
}

.pagination__list{
  margin-top: 30px;
  li{
    display: inline-block;
    margin-right: 6px;
  }
  a,
  span{
    width: 43px;
    height: 38px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
  }
  .active{
    background-color: $red;
    color: #fff;
  }
}
.products__item-content-text{
  display: none;
}
.products__item-sales{
  display: none;
}
.products__item-info-list{
  display: none;
}
.products__item{
  &.list{
    max-width: 100%;
    .products__item-images{
      width: 270px;
      float: left;
    }
    .products__item-content{
      min-height: 110px;
    }
    .products__item-content-text{
      display: block;
      color: #aeb4bb;
      max-width: 430px;
    }
    .products__item-sales{
      display: block;
      font-size: 13px;
      color: #aeb4bb;
      font-weight: 400;
    }
    .products__item-category{
      margin-bottom: 5px;
    }
    .products__item-price{
      font-size: 30px;
      margin: 0;
      line-height: 55px;
    }
    .products__item-stars{
      margin-left: auto;
      margin-right: 30px;
    }
    .products__item-info-list{
      display: block;
      li{
        display: inline-block;  
        padding-left: 50px;
        color: #b0bec5;
        border-left: 1px solid #aeb4bb;
        font-size: 12px;
        line-height: 12px;
        position: relative;
        span{
          color: $bg;
        }
        & + li{
          margin-left: 25px;
        }
      }
      a{
        color: #b0bec5;
        span{
          color: $bg;
        }
      }
    }
  }
}
.products__item-comment,
.products__item-like{
  &::before {
    content: "\f0e5";
    font-family: 'icomoon' !important;
    color: $green;
    font-size: 16px;
    position: absolute;
    left: 20px;
  }   
}
.products__item-like{
  &::before {
    content: "\f08a";
    font-family: 'icomoon' !important;
  }     
}
// end product-page
